@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&family=Raleway:wght@100;300;400&display=swap');

:root {
    --panel-color: hsla(252, 0%, 83%, 1);
    --panel-text-color: black;
}

body {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

#everything {
    min-height: 81vh;
}

#placeholder {
    margin-bottom: 60px;
    color: blue;
}

#title-h1 {
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    font-size: 112x;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    text-align: center;
}

.paragraph {
    text-align: center;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}

#google-form {
    margin-top: 30px;
    text-align: center;
}

#contact-us {
    display: none;
} 

@media (max-width: 650px) {
    #google-form {
        display: none;
    }
    #contact-us {
        display: block;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}