@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&family=Raleway:wght@100;300;400&display=swap');

:root {
    --panel-color: hsla(252, 0%, 83%, 1);
    --panel-text-color: black;
}

body {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.margin-top-50 {
    margin-top: 50px;
}

.paragraph {
    text-align: center;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}

.h3-titles {
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5em;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    text-align: center;
}

#placeholder {
    margin-bottom: 60px;
    color: blue;
}

.title-h1 {
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-size: 112px;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    
}

#img-col {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

#img-col > img {
    max-width: 150px;
    margin: 20px 0px 20px 0px;
}

#three-words {
    margin-top: 6em;
}

#three-words > h3 {
    text-align: center;
    font-weight: 200;
    font-family: 'Raleway', sans-serif;
    font-size: 4em;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

#screenshots {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 5em;
    justify-content: center;
    margin-bottom: 20px;
}

.screenshot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screenshot > img {
    max-width: 20em;
    margin-right: 2em;
}

.screenshot > h6 {
    font-family: 'Raleway', sans-serif;
}

#calendar-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

#calendar-screen-img {
    max-width: 1000px;
}

#calendar-screen > p {
    font-family: 'Raleway', sans-serif;
}

#description {
    margin-top: 5em;
}

.diffs-title {
    margin-top: 50px;
}

#diffs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* .diffs-panel {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 3px 3px 0 var(--panel-color);
    margin: 30px;
    padding: 30px;
    background-color: var(--panel-color);
} */

.diffs-panel {
    width: 275px;
    height: 275px;
    border-radius: 10px;
    box-shadow: 0 3px 3px 0 var(--panel-color);
    margin: 30px;
    padding: 30px;
    background-color: var(--panel-color);
}


.diffs-panel > h4 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: var(--panel-text-color);
}

.diffs-panel > p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: var(--panel-text-color);
}

.feedback-title {
    margin-top: 50px;
}

#student-feedback {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.feedback-panel {
    width: 500px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 3px 3px 0 var(--panel-color);
    margin: 30px;
    padding: 30px;
    background-color: var(--panel-color);
    margin-bottom: 50px;
}

.feedback-panel > h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: var(--panel-text-color);
}

.feedback-panel > h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: var(--panel-text-color);
}

.feedback-panel > h6 {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: var(--panel-text-color);
}

#google-form {
    text-align: center;
    margin-bottom: 30px;
}

#contact-us {
    margin-bottom: 50px;
    display: none;
}

#contact-us > a {
    color: blue;
    text-decoration: underline;
}

a {
    color: black;
}

.last-para {
    margin-bottom: 40px;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@media (max-width: 480px) {
    .screenshot > img {
        max-width: 20em;
        margin-right: 0;
    }
    #img-col {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    
    #img-col > img {
        max-width: 150px;
        margin: 20px 0px 20px 0px;
    }
}
