@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&family=Raleway:wght@100;300;400&display=swap');

:root {
    --panel-color: hsla(252, 0%, 83%, 1);
    --panel-text-color: black;
}

body {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

#placeholder {
    margin-bottom: 60px;
    color: blue;
}

#title-h1 {
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    font-size: 112x;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    text-align: center;
}

.paragraph {
    text-align: center;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}